html {
	background: url("https://i.imgur.com/b9r5sEL.jpg") bottom center;
	background-size: cover;
	font-size: 10px;
}

body,
html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.keys {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.key {
	width: 10rem;
	margin: 1rem;
	padding: 1rem 0.5rem;
	transition: all 0.07s ease;
	border: 0.4rem solid black;
	border-radius: 0.5rem;
	background: rgba(0, 0, 0, 0.4);
	color: white;
	font-size: 1.5rem;
	text-align: center;
	text-shadow: 0 0 0.5rem black;
}

.playing {
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	color: #ffc600;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
}
