html {
	box-sizing: border-box;
	background: #ffc600;
	font-family: "helvetica neue";
	font-size: 20px;
	font-weight: 200;
}

body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1 {
	margin-top: 0;
}

.site-wrap {
	max-width: 700px;
	margin: 100px auto;
	padding: 40px;
	background: white;
	text-align: justify;
}

.align-left {
	margin-right: 20px;
	float: left;
}

.align-right {
	margin-left: 20px;
	float: right;
}

.slide-in {
	transition: all 0.5s;
	opacity: 0;
}

.align-left.slide-in {
	transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
	transform: translateX(30%) scale(0.95);
}

.slide-in.active {
	transform: translateX(0%) scale(1);
	opacity: 1;
}
