html {
	box-sizing: border-box;
	background: #eee;
	font-family: "helvetica neue";
	font-size: 20px;
	font-weight: 200;
}

body {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.site-wrap {
	max-width: 700px;
	margin: 70px auto;
	padding: 40px;
	transform: scale(0.98);
	transition: transform 0.5s;
	background: white;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
	text-align: justify;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	background: url("https://source.unsplash.com/GKN6rpDr0EI/960x640") bottom center no-repeat;
	background-size: cover;
	text-align: center;
}

h1 {
	color: white;
	font-size: 7vw;
	text-shadow: 3px 4px 0 rgba(0, 0, 0, 0.2);
}

nav {
	position: sticky;
	z-index: 1;
	top: 0;
	width: 100%;
	transition: all 0.5s;
	background: black;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	text-align: center;
}

li.logo {
	max-width: 0;
	overflow: hidden;
	transition: all 0.2s;
	background: white;
	font-size: 30px;
	font-weight: 600;
}

li.logo a {
	color: black;
}

nav a {
	display: inline-block;
	padding: 20px;
	transition: all 0.2s;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}
